<header style="
  width:99%;
  height:76px;
  ">
  <nav>
    <div class="row">
     <div class="col-md-auto align-self-start ms-1">
    <img src="static/favicon.png" alt="static/favicon.png" height="76px" width="200px"">
     </div>
      <div class="col-md-auto align-self-start ms-3"style="
        font-size:30px;
        padding-top:18px;
        color:#CE9A48;
        ">
        <a href=""style="color:#CE9A48; text-decoration: none;">
        تسجيل الخروج
        </a>
         </div>
     <div class="col align-self-end"style="
       text-align:right;
       font-size:35px;">
      أ. صالح عرفة
       <img src="static/human.png" alt="static/human.png" height="47px" width="46px" style="margin-left:12px;""> 
     </div>
    </div>
  </nav>
</header>